* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poiret One", cursive;
  line-height: 1.3rem;
  font-weight: 600;
  text-align: justify;
}

.fourthTitleP,
.thirdTitP,
.secondTitP,
.mainTitP {
  font-weight: 900;
  text-align: center;
  margin-bottom: 2vh;
  letter-spacing: 0.3rem;
}

.secondTitP {
  color: rgb(19, 83, 245);
  font-size: 2.6rem;
  margin-top: 40vh;
  margin-bottom: 3vh;
}

@media screen and (max-width: 576px) {
  .secondTitP {
    font-size: 1.9rem;
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
}

.thirdTitP {
  color: rgb(0, 47, 149);
  font-size: 2.2rem;
  margin-top: 30vh;
  margin-bottom: 7vh;
}

@media screen and (max-width: 576px) {
  .thirdTitP {
    font-size: 1.7rem;
    margin-top: 8vh;
    margin-bottom: 9vh;
    padding: 0px 15px;
  }
}

.fourthTitleP {
  color: rgb(0, 6, 60);
  font-size: 2.2rem;
  margin-top: 6vh;
}

@media screen and (max-width: 576px) {
  .fourthTitleP {
    font-size: 1.5rem;
    margin-top: 12%;
    padding: 0 10%;
  }
}

.navbar {
  height: 12vh;
}

.container-fluid {
  height: 55px;
}

.imagotipo {
  width: 170px;
}




#iconoCompra {
  width: 40px;
}




#navbarNav {
  background-color: rgba(91, 106, 241, 0.468);
}

.modalContenedor {
  display: flex;
  align-items: center;
}

.modalContenedor p {
  font-size: 1.2rem;
}

.alertModal {
  font-size: 1.2rem;
  font-weight: 600;
}

.imgCarrito {
  width: 269px;
  padding: 35px 25px;
}

.btn {
  margin-left: 5px;
}

.bgHome {
  padding-top: 40vh;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .bgHome {
    padding-top: 77vh;
  }
}

@media screen and (max-width: 768px) {
  .bgHome {
    padding-top: 65vh;
  }
}

.mainTitH {
  color: rgb(0, 0, 0);
  font-size: 10rem;
  letter-spacing: 0.6rem;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .mainTitH {
    font-size: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .mainTitH {
    font-size: 6rem;
  }
}

.secondTitH {
  color: rgb(0, 26, 41);
  text-align: end;
  margin-top: 3vh;
  margin-bottom: 4vh;
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
}





.barraDeBusqueda{
  width: 40vw;
  margin-left: 22vw;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 13px;
}



.viajeros{
  margin-left: 37vw;
  margin-bottom: 15px;
}












.card {
  width: 420px;
  margin: 5px 2px 15px 2px;
  box-shadow: 0px 9px 18px -5px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-top: 7px;
  animation-name: aparecer;
  animation-iteration-count: initial;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-delay: 1s;
}

.card-text {
  font-style: normal;
  display: inline-block;
  padding: 10px 30px;
}


.flexSubmit {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.flexSubmit input {
  width: 40px;
  padding-right: 10px;
}

.flexSubmit a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin-top: 15px;
}

.inputEmail {
  width: 260px;
  padding: 1px 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(2, 105, 43);
  font-family: "Poiret One", cursive;
  font-size: 1.2rem;
  cursor: pointer;
}

.buttonMasInfo:hover,
.buttonMasInfo,
.buttonH {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  font-size: 1rem;
  font-family: "Poiret One", cursive;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.buttonH {
  background: rgba(255, 255, 0, 0.545);
}

.buttonH a{
  text-decoration: none;
  list-style-type: none;
}

@media screen and (max-width: 576px) {
  .buttonH {
    font-size: 0.9rem;
  }
}

.buttonH:hover {
  background: rgb(132, 222, 247);
  width: 170px;
  transition: all 0.5s ease-in-out;
}

.contenedor {
  display: grid;
  max-height: 100vh;
  justify-items: center;
  align-items: baseline;
  grid-template-areas: "contenedorTabla contactForm";
  grid-template-columns: 65% 1fr;
  grid-template-rows: fit max-content;
  margin: auto;
  gap: 15px 20px;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: 80%;
  }
}

.contenedorTabla {
  grid-area: contenedorTabla;
  width: 50vw;
  margin: 5px 20px 5px 40px;
}

.contenedorTabla th,
.contenedorTabla td {
  padding: 3px 2px;
  font-weight: bolder;
  font-size: 1.1rem;
}

@media screen and (max-width: 1200px) {
  .contenedorTabla {
    width: 70vw;
    margin: 15px 10px 5px 10px;
  }
}

@media screen and (max-width: 768px) {
  .contenedorTabla {
    width: 55vw;
    margin: 15px 5px 15px 5px;
  }
}

.contactForm {
  grid-area: contactForm;
  height: max-content;
  background-color: rgba(189, 225, 245, 0.323);
}

.contactForm form {
  width: 100%;
  font-size: 1.3rem;
  padding: 16px 25px;
}

@media screen and (max-width: 1200px) {
  .contactForm {
    padding: 0px 15px;
  }
}

.inputForm {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.585);
  font-family: "Poiret One", cursive;
  font-size: 1.1rem;
  width: 100%;
  height: 37px;
  margin: 20px auto;
}

.radioButtons {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 30px 0px 17px 0px;
  margin-bottom: 35px;
}

.radioButtons.radio {
  border: 0px;
  width: 150%;
  height: 2em;
}

.checkUso {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  align-items: baseline;
  text-align: left;
}

.checkUso p {
  padding: 0px 15px;
}

.terminosDeUso {
  color: black;
  padding-top: 0px;
  margin-top: 2%;
}

.buttonH {
  padding: 7px 7px;
}

.alert {
  margin-top: 10%;
  width: auto;
  height: 50px;
}

.alert p{
  font-size: 1.3rem;
  text-align: center;
}

.disabled{
  display: none;
}





footer {
  margin-top: 12%;
}

@media screen and (max-width: 568px) {
  footer {
    margin-top: 48%;
  }
}

.isotipo {
  width: 420px;
  margin-left: 47%;
}

.icons {
  margin: 10px auto;
  width: 265px;
}

.icons i {
  color: rgb(0, 5, 102);
  font-size: 32px;
  padding: 7px 13px;
  text-decoration: none;
}

.icons i:hover {
  text-shadow: 0px 0px 20px rgb(98, 127, 244);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 568px) {
  .icons i {
    font-size: 28px;
    padding: 2px 13px;
  }
}

.links {
  color: rgb(0, 0, 0);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 25px;
}

.links a {
  text-decoration: none;
  list-style-type: none;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  text-align: center;
}

@media screen and (max-width: 568px) {
  .links {
    font-size: 1rem;
    margin-bottom: 17px;
  }
}

.derechos {
  margin-top: 5px;
  font-size: 1rem;
  margin: auto;
}

/*media queries*/
@media screen and (max-width: 576px) {

  /*home*/
  .bgHome {
    background-image: url(../assets/logo/logoJS.png);
  }

  .mainTitH {
    font-size: 3.5rem;
    margin-top: 5%;
    letter-spacing: 0rem;
  }

  .secondTitH {
    font-size: 2.2rem;
    margin-top: 1vh;
    margin-bottom: 8vh;
  }

  .thirdTitH {
    font-size: 1.6rem;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }
}

@media screen and (max-width: 576px) {
  .contenedorTabla {
    width: 80vw;
    margin: 0px 0px 5px 5px;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .card-text {
    padding: 5px 3px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .emailInput {
    width: fit-content;
    padding: 5px 55px;
  }
}

@media screen and (max-width: 576px) {
  .flexSubmit input {
    width: 37px;
    margin-top: 5px;
  }

  .flexSubmit a {
    font-size: 0.9rem;
    padding: 5px 15px;
  }
}

@media screen and (max-width: 576px) {
  .contenedor {
    max-height: 330vh;
    grid-template-columns: 90%;
  }
}

@media screen and (max-width: 576px) {
  .contactForm form {
    padding: 0px 5px;
    min-height: 100vh;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 576px) {
  .radioButtons {
    flex-flow: column;
    align-items: flex-start;
  }

  .radioButtons label {
    padding: 0px 35px;
  }
}

@media screen and (max-width: 576px) {
  .checkUso {
    font-size: 1rem;
  }

  .checkUso label {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 576px) {
  .inputForm {
    font-size: 1.1rem;
  }
}